@import url('https://fonts.googleapis.com/css?family=Rhodium+Libre');
body {
    background-color: #F1882D;
    font-family: 'Rhodium Libre', serif;
    padding: 0 2rem;
}

label {
    margin: .7rem 0 0 0;
    display: block;
}

input {
    display: block;
}

button {
    margin: 1rem 0;
}

h1 {
    color: #3A6875;
    text-align: center;
}

p,div {
    font-size: 30px;
    padding: 12px 12px 12px 12px;  
    margin: 12px 12px 12px 12px;  
}

/* Styles for Movies List Output */
.movies {
    padding: 0;
    display: block;
    list-style-type: none;
}

.movies li {
    margin: 0 0 10px 0;
    padding: 5px;
    border: 1px solid #555;
    background: #118D20;
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
    color: #fff;
}

.movies li ul {
    margin: 5px 0 0 0;
    padding: 0;
}

.movies li ul li {
    margin: 0;
    padding: 2px;
    border: none;
    list-style-type: none;
    background: #fff;
    font-size: .8rem;
    color: #555;
    font-family: 'Roboto', sans-serif;
}

.movies li ul li.alt {
    background: #eee;
}