@import url('https://fonts.googleapis.com/css?family=Rhodium+Libre');
body {
    background-color:rgb(181, 249, 250);
    font-family: 'Rhodium Libre', serif;
    padding: 0 2rem;
}

.form-element {
    margin-bottom: 1rem;
}

h1 {
    color: rgb(26, 24, 24);
    text-align: center;
}

p,div {
   
    font-size: 30px;
    padding: 12px 12px 12px 12px;  
    margin: 12px 12px 12px 12px;  
}